<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">

    <title>Tall Tail</title>

    <link href="/tail/bootstrap/css/bootstrap.min.css" 
        rel="stylesheet">
    <link href="/tail/bootstrap/css/bootstrap-theme.min.css" 
        rel="stylesheet" />
    <link href="/tail/bootstrap-colorpicker-20130924/css/bootstrap-colorpicker.min.css"
        rel="stylesheet" />
    <link href="/tail/styles/main.css"
        rel="stylesheet" />

  </head>
  
  <body>

<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <ul class="nav navbar-nav">

    <li class="brand"><a class="brand" href="/tail">TallTail</a></li>

    <li class="dropdown">
        <a href="#" 
            class="dropdown-toggle"
            data-toggle="dropdown">
            Available Files
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <% files.forEach(function(file, i, arr){ %>
                <li><a href="/tail/f/<%= file %>"><%= file %></a></li>
            <% }) %>
        </ul>
    </li>
  </ul>
</div><!-- navbar -->

<div class="container index-content">
  <div class="row">
    <div class="span12">

      <div class="hero-unit">

      </div><!-- hero-unit -->

    </div><!-- span -->
  </div><!-- row -->
</div> <!-- container -->


    <script src="/tail/jquery/jquery-1.10.2.min.js"></script>
    <script src="/tail/bootstrap/js/bootstrap.js"></script>
    <script src="/tail/bootstrap-colorpicker-20130924/js/bootstrap-colorpicker.min.js"></script>
    <script>
      $('#in-color').colorpicker();
    </script>
  </body>

</html>

